@model CompanyDetails
@{
    ViewData["Title"] = "Company Details";
}

<div class="form-row">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form asp-controller="Company" asp-action="EditDetails" method="post" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Contract Number</label>
        <input type="text" asp-for="ContractNumber" class="form-control">
    </div>
    <div class="col-md-6">
        <label class="form-label">Address</label>
        <input type="text" asp-for="Address" class="form-control">
    </div>
    <div class="col-12">
        <label class="form-label">Zip</label>
        <input type="text" asp-for="PostCode" class="form-control">
    </div>
    <div class="col-12">
        <label class="form-label">City</label>
        <input type="text" asp-for="City" class="form-control">
    </div>
    <div class="col-md-6">
        <label class="form-label">Start Date</label>
        <input type="text" asp-for="StartDate" class="form-control">
    </div>
    <div class="col-md-6">
        <label class="form-label">End Date</label>
        <input type="text" asp-for="EndDate" class="form-control">
    </div>
    <input asp-for="DetailsId" hidden />
    <input class="btn btn-primary" type="submit" value="Save" />
</form>

